/**
* Estilos
* @version 1.0
*/


/* Oculto los elementos externos al libro
/--------------------------------------------------------- */

body {
  background: none;
  font-size: 12px;
  line-height:1.5;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  color:#000;
  font-size:10pt;
}

#header {
  display: none;
}

#copyright {
  margin: 0 0 50px 0;
}

#copyright p {
  text-align: center;
  color: #000;
  font-size: 11px;
  padding: 5px 0;
  margin: 0;
}

/* Estilos del libro
/--------------------------------------------------------- */

.libro{
	font-size: 1.4em;
}

.libro h1, .libro h2, .libro h3, .libro h4, .libro h5, .libro h6 {
	font-family:"Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.libro #imprimir {
  width: 1000px;
  height: 979px;
  background: transparent url(../img/biblioteca-tapa.png) no-repeat center center;
  margin: 100px 0 400px 0;
}

.libro #indice {
  margin: 10px 0;
}

.libro #TOC{
	margin: 0 0 1200px 0;
}

.libro #TOC li {
  margin: 10px 0;
}

.libro #TOC li a {
  color: #000;
  text-decoration: none;
  cursor: text;
}

.libro #titulo h1{
	display: none;
}

.libro #sobre{
	margin: 0 0 1000px 0;
}

.libro #sobre h4 a{
	text-decoration: underline;
}

.libro div{
	margin: 50px 0;
}

.libro ul{
	margin: 0 0 25px 40px;
}

.libro li p{
	margin: 0;
}

.libro hr{
	background:#ccc;
	color:#ccc;
	width:100%;
	height:2px;
	margin:2em 0;
	padding:0;
	border:none;
}

.libro h2 a, .libro h3 a, .libro h4 a{
  color: #000;
  text-decoration: none;
}

.libro a code{
  font-family: Georgia, serif;
  font-size: 16px;
}

.libro blockquote {
  background: #FEEDC4;
  padding: 5px;
}

.libro blockquote p{
	margin: 0;
}

.libro img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}

.libro pre.sourceCode, .libro pre.numberLines {
  background: none repeat scroll 0 0 #F1F1F1;
  border: 1px solid #DDDDDD;
  color: #000000;
  word-wrap: break-word;
  width: 100%;
  margin: 20px 0;
}

.libro .nums pre {
  margin: 0;
  padding: 0 10px 0 0;
}

.libro pre code, .libro .nums pre {
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.libro #copyright{
	margin: 50px 0 0 0;
	border-top: 1px solid #ccc;
	font-size: 12px;
}
